In [ ]:
Pandas Module

1. series (1-D Array)
2. Dataframes (2-D Array)/ labeling will be on rows and column

Operations :
1. reading / writing of data (csv/json/xls)
2. inserting of data
3. selecting of data
4. data manipulation
5. grouping and aggregation
6. merging / joining
7. sorting

In [3]:
import pandas as pd

print("Enter 3 names seperated with space : ")
names = input().strip().split()
print("Enter 3 index labels : ")
indices = input().strip().split()
try:
    if len(names) != 3 or len (indices) != 3:
        raise ValueError("Please provide exact names with indices")
    series= pd.Series(data= names, index= indices)
    print("Created a new series: ")
    print(series)
except ValueError as e:
    print(f"Error:{e}")

Enter 3 names seperated with space :

 yang kun lee

Enter 3 index labels :

 1 3 5

Created a new series:
1    yang
3     kun
5     lee
dtype: object

In [ ]:
code elobrates how to filter numerical data in series based on conditiion (e.g: values greater than a threshold)

In [17]:
import pandas as pd

print("Enter 4 random numbers space seperated : ")
numbers = input().strip().split()
numbers = [float(num) for num in numbers]
try:
    if len(numbers) != 4:
        raise ValueError("Please provide exactly 4 numbers: ")
    total_data = pd.Series(numbers)
    print(total_data)
    
    filtered = total_data[total_data>10]
    #0->5 1->15 2->8 3->18 
    print("Values > 10 : ")
    print(filtered)
except ValueError as e:
    print(f"Error:{e}")

Enter 4 random numbers space seperated :

 2 7 9 12

0     2.0
1     7.0
2     9.0
3    12.0
dtype: float64
Values > 10 :
3    12.0
dtype: float64

In [ ]:
code elobrates how to filter string data in series based on insensitivity..

In [19]:
import pandas as pd

print("Enter 5 strings space seperated : ")
strings = input().strip().split()
print("Enter substring : ")
substring = input().strip()
try:
    if len(strings) != 5:
        raise ValueError("Please provide 5 strings only :")
    series = pd.Series(strings)
    print("\n Original Series : ")
    print(series)
    filtered_series = series [series.str.lower().str.contains(substring.lower(),na=False)]
    print(f"strings containing '{substring}' (case-insensitive) :")
    print(filtered_series if not filtered_series.empty else "No match found.")
except ValueError as e:
    print(f"Error:{e}")

Enter 5 strings space seperated :

 apple kiwi apricot banana orange

Enter substring :

 ban

 Original Series :
0      apple
1       kiwi
2    apricot
3     banana
4     orange
dtype: object
strings containing 'ban' (case-insensitive) :
3    banana
dtype: object

In [27]:
# missing value operations on NaN
import pandas as pd
import numpy as np

series = pd.Series([10, np.nan, 30, np.nan, 50], index=['a', 'b', 'c', 'd', 'e'])
print("\n Original series : ")
print(series)

# check missing values
print("\nMissing values : ")
print(series.isna())

# replace nan with 0
filled_series = series.fillna(0)
print("\n series after filling NaN with 0 : ")
print(filled_series)

# missing values deletion
dropped_series = series.dropna()
print("\n series after dropping missing values : ")
print(dropped_series)

 Original series :
a    10.0
b     NaN
c    30.0
d     NaN
e    50.0
dtype: float64

Missing values :
a    False
b     True
c    False
d     True
e    False
dtype: bool

 series after filling NaN with 0 :
a    10.0
b     0.0
c    30.0
d     0.0
e    50.0
dtype: float64

 series after dropping missing values :
a    10.0
c    30.0
e    50.0
dtype: float64

In [ ]:
code to show the computation of statstics and access series attributes.
100 200 150 300 250
print original data, which is serialized
stastics :
mean
sum
max
min
Attributes :  
index = ['a'........'e']
values = [100.0.........250.0]

In [33]:
import pandas as pd

print("Enter 5 random numbers, space seperated : ")
numbers = input().strip().split()
numbers = [float(num) for num in numbers]
try:
    if len(numbers) != 5:
        raise ValueError("Please enter 5 numbers only!!!")
    series = pd.Series(numbers, index= ['a', 'b', 'c', 'd', 'e'])
    print("\n Original series : ")
    print(series)
    
    # Statistics
    print("\n Statstics : ")
    print(f"Mean : {series.mean()}")
    print(f"Sum : {series.sum()}")
    print(f"Max : {series.max()}")
    print(f"Min : {series.min()}")

    # Attributes
    print("\n Attributes : ")
    print(f"Index : {series.index.tolist()}")
    print(f"Values : {series.values.tolist()}")
    print(f"DataType : {series.dtype}")
except ValueError as e:
    print(f"Error : {e}")

Enter 5 random numbers, space seperated :

 9 5 1 8 3

 Original series :
a    9.0
b    5.0
c    1.0
d    8.0
e    3.0
dtype: float64

 Statstics :
Mean : 5.2
Sum : 26.0
Max : 9.0
Min : 1.0

 Attributes :
Index : ['a', 'b', 'c', 'd', 'e']
Values : [9.0, 5.0, 1.0, 8.0, 3.0]
DataType : float64

In [35]:
import pandas as pd

print("Enter 4 numbers, space seperated : ")
numbers = input().strip().split()
numbers = [float(num) for num in numbers]
try:
    if len(numbers) != 4:
        raise ValueError("Give 4 numbers only !!!")
    series = pd.Series(numbers, index=['a', 'b', 'c', 'd'])
    print("\n Original Series : ")
    print(series)
    
# doubling values vector operations
    doubled = series*2
    print("\n series after doubling series : ")
    print(doubled)
    
# adding 100 to all values vector operations
    added = series+100
    print("\n series after adding 100:")
    print(added)
except ValueError as e:
    print(f"Error : {e}")

Enter 4 numbers, space seperated :

 7 4 1 6

 Original Series :
a    7.0
b    4.0
c    1.0
d    6.0
dtype: float64

 series after doubling series :
a    14.0
b     8.0
c     2.0
d    12.0
dtype: float64

 series after adding 100:
a    107.0
b    104.0
c    101.0
d    106.0
dtype: float64

In [ ]:
DataFrame Syntax : DataFrame(data)

In [7]:
import pandas as pd

data = {
    'Name' : ['Mark', 'Steve', 'Jenny'], 
    'Age' : [22, 21, 23], 
    'Branch' : ['ECE', 'CIV', 'MECH']
}
dframe = pd.DataFrame(data)
print(dframe)

    Name  Age Branch
0   Mark   22    ECE
1  Steve   21    CIV
2  Jenny   23   MECH

In [15]:
n = int(input("Enter number of profiles : "))
names = []
ages = []
branches = []
for i in range(n):
    print (f"----Enter {i+1}----")
    name = input("Enter Name : ")
    age = input("Enter Age : ")
    branch = input("Enter Branch : ")
    names.append(name)
    ages.append(age)
    branches.append(branch)
data = {'Name' : names, 'Age' : ages, 'Branch' : branches}
df = pd.DataFrame(data)
print("\n DataFrame created.....")
print(df)

Enter number of profiles :  4

----Enter 1----

Enter Name :  Mark
Enter Age :  22
Enter Branch :  ECE

----Enter 2----

Enter Name :  Steve
Enter Age :  21
Enter Branch :  CIV

----Enter 3----

Enter Name :  Jenny
Enter Age :  23
Enter Branch :  MECH

----Enter 4----

Enter Name :  Stephen
Enter Age :  19
Enter Branch :  EEE

 DataFrame created.....
      Name Age Branch
0     Mark  22    ECE
1    Steve  21    CIV
2    Jenny  23   MECH
3  Stephen  19    EEE

In [33]:
import pandas as pd

data = {
    'Name' : ['Mark', 'Steve', 'Jenny'], 
    'Age' : [22, 21, 23], 
    'Branch' : ['ECE', 'CIV', 'MECH']
}
dframe = pd.DataFrame(data)
print(dframe)

    Name  Age Branch
0   Mark   22    ECE
1  Steve   21    CIV
2  Jenny   23   MECH

In [35]:
print(dframe['Name'])

0     Mark
1    Steve
2    Jenny
Name: Name, dtype: object

In [37]:
print(dframe[['Name', 'Branch']])

    Name Branch
0   Mark    ECE
1  Steve    CIV
2  Jenny   MECH

In [39]:
print(dframe.iloc[2])

Name      Jenny
Age          23
Branch     MECH
Name: 2, dtype: object

In [41]:
dframe['Stipend'] = [10000, 11000, 9000]
print(dframe)

    Name  Age Branch  Stipend
0   Mark   22    ECE    10000
1  Steve   21    CIV    11000
2  Jenny   23   MECH     9000

In [43]:
Salary = [50000, 49000, 45400]
dframe.insert(1, 'Income', Salary)
print(dframe)

    Name  Income  Age Branch  Stipend
0   Mark   50000   22    ECE    10000
1  Steve   49000   21    CIV    11000
2  Jenny   45400   23   MECH     9000

In [45]:
dframe.at[2, 'Age'] = 25
print(dframe)

    Name  Income  Age Branch  Stipend
0   Mark   50000   22    ECE    10000
1  Steve   49000   21    CIV    11000
2  Jenny   45400   25   MECH     9000

In [ ]:
df.head(n) first n rows
df.tail(n) last n rows
df.info() summary -df
df.describe() stat summary
df.shape() tuple rows columns 
df.dtypes() data type (column)
df.column() column name

In [47]:
import pandas as pd
import numpy as np

data = {
    'Patient_ID' : ['P001', 'P002', 'P003', 'P004', 'P005', 'P006'], 
    'Name' : ['Vijay', 'Ajay', 'Kiran', 'Amith', 'Suresh', None],
    'Age' : [34, 30, None, 60, 25, 50],
    'Department' : ['Carona', 'Cancer', 'Neurology', 'Cardiology', 'Cancer', 'ICU'],
    'Admission_Date' : ['2025-01-15', '2025-02-10', '2025-03-03', '2025-01-22', '2025-04-06', '2025-08-04'],
    'Bill' : [7000.80, 76000.00, 10000.00, 200000.00, 80000.00, None]
}
df = pd.DataFrame(data)
df.to_csv('hospital_data.csv', index=False)
print("Created data sucessfully...")

Created data sucessfully...

In [53]:
import pandas as pd

try:
    df = pd.read_csv('hospital_data.csv')
    print("\n Hospital DataFrame : \n")
    print(df)
    
    #Display basic info
    print("\n DataFrame INFO : \n")
    print(df.info())
    print("\n Summary Statistics : \n")
    print(df.describe())
except FileNotFoundError:
    print("Error : 'hospital_data.csv' not found.")

 Hospital DataFrame :

  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-08-04       NaN

 DataFrame INFO :

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient_ID      6 non-null      object
 1   Name            5 non-null      object
 2   Age             5 non-null      float64
 3   Department      6 non-null      object
 4   Admission_Date  6 non-null      object
 5   Bill            5 non-null      float64
dtypes: float64(2), object(4)
memory usage: 420.0+ bytes
None

 Summary Statistics :

             Age           Bill
count   5.000000       5.000000
mean   39.800000   74600.160000
std    14.669697   78260.928695
min    25.000000    7000.800000
25%    30.000000   10000.000000
50%    34.000000   76000.000000
75%    50.000000   80000.000000
max    60.000000  200000.000000

In [55]:
import pandas as pd

try:
    df = pd.read_csv('hospital_data.csv')
    print("\n Original hospital DataFrame :\n")
    print(df)
    
# check missing values
    print("\n Missing Values :\n")
    print(df.isna())
    
# filling name by unknown value by o
    df_filled = df.copy()
    df_filled['Name'] = df_filled['Name'].fillna('Unknown')
    df_filled['Age'] = df_filled['Age'].fillna(df_filled['Age'].mean())
    df_filled['Bill']= df_filled['Bill'].fillna(0)
    print("\n Dataframe after filling by default :\n")
    print(df_filled)
except FileNotFoundError:
    print("Error : 'hospital_data.csv' not found.")

 Original hospital DataFrame :

  Patient_ID    Name   Age  Department Admission_Date      Bill
0       P001   Vijay  34.0      Carona     2025-01-15    7000.8
1       P002    Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003   Kiran   NaN   Neurology     2025-03-03   10000.0
3       P004   Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005  Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006     NaN  50.0         ICU     2025-08-04       NaN

 Missing Values :

   Patient_ID   Name    Age  Department  Admission_Date   Bill
0       False  False  False       False           False  False
1       False  False  False       False           False  False
2       False  False   True       False           False  False
3       False  False  False       False           False  False
4       False  False  False       False           False  False
5       False   True  False       False           False   True

 Dataframe after filling by default :

  Patient_ID     Name   Age  Department Admission_Date      Bill
0       P001    Vijay  34.0      Carona     2025-01-15    7000.8
1       P002     Ajay  30.0      Cancer     2025-02-10   76000.0
2       P003    Kiran  39.8   Neurology     2025-03-03   10000.0
3       P004    Amith  60.0  Cardiology     2025-01-22  200000.0
4       P005   Suresh  25.0      Cancer     2025-04-06   80000.0
5       P006  Unknown  50.0         ICU     2025-08-04       0.0