In [ ]:
types of erros : syntax, logical....

built_in exceptions
1. Exception - base class for all exception
2. StopIteration - next() method does not point any object
3. SystemExit - sys.exit() function raise
4. StandardError
5. ArithmeticError - math calc 10/0
6. OverflowError - numeric type xceeding the limit of its size
7. ZeroDivisionError 10/0
8. AssertionError - Assert Statements
9. EOFError - till end last statement, when no IO or return value occurs
10. ImportError
11. KeyboardInterrupt 
12. LookupError
13. IndexError - list [1,2,3,4]
14. NameError
15. EnvironmentError - method consider & no value
16. IOError - file IO read fail
17. SystemError
18. ValueError
19. RuntimeError
20. TypeError
21. SyntaxError
22. IndentationError
23. NotImplementError - oops concept, inheritance(abstract)

In [ ]:
num  = int(input("Enter the numerator : "))
deno  = int(input("Enter the denominator : "))
try:
    quo = num/deno
    print(f"Quotient is {quo}")
except ZeroDivisionError:
    print("Denominator can't be zero")

In [ ]:
Enter the numerator :  10
Enter the denominator :  0
Denominator can't be zero

In [ ]:
Enter the numerator :  10
Enter the denominator :  5
Quotient is 2.0

In [ ]:
try:
    num = int(input("Enter the number : "))
    print(num*4)
except KeyboardInterrupt:
    print("Number should be entered")
except ValueError:
    print("Please check before you enter the datatype")
print("ok byee")

In [ ]:
Enter the number :  10
40
ok byee

In [ ]:
Enter the number :  true
Please check before you enter the datatype
ok byee

In [ ]:
Enter the number : Number should be entered
ok byee

In [ ]:
try:
    num = int(input("Enter the number : "))
    print(num*4)
except (KeyboardInterrupt, ValueError, TypeError):
    print("Number should be entered... Program Terminated")
print("ok byee")

In [ ]:
Enter the number : 3
12
ok byee

In [ ]:
Enter the number : Number should be entered... Program Terminated
ok byee

In [ ]:
#File1.txt
Hello Good Morning!!!

In [ ]:
try:
    file = open('File1.txt')
    str = file.readline()
    print(str)
except IOError:
    print("Error occured during input take..")
else:
    print("Succesully fetched the data....")

In [ ]:
Hello Good Morning!!!
Succesully fetched the data....

In [ ]:
try:
    file = open('File.txt')
    str = file.readline()
    print(str)
except IOError:
    print("Error occured during input take..")
else:
    print("Succesully fetched the data....")

In [ ]:
Error occured during input take..

In [ ]:
#raise.py

try:
    num = 11
    print(num)
    raise ValueError
except:
    print("Exception Occured")

In [ ]:
11
Exception Occured

In [ ]:
try:
    raise NameError
except:
    print("Re-Raising the Exception")
    raise

In [ ]:
Re-Raising the Exception
Traceback (most recent call last):
  File "e:\Eighty\raise.py", line 2, in <module>
    raise NameError
NameError

In [ ]:
try:
    print("Raising the Exception")
    raise ValueError
finally:
    print("performing clean up in finally")

In [ ]:
Raising the Exception
performing clean up in finally
Traceback (most recent call last):
  File "e:\Eighty\raise.py", line 3, in <module>
    raise ValueError
ValueError

In [ ]:
try:
    print("Raising the Exception")
    raise ValueError
except:
    print("Exception caught...")
finally:
    print("performing clean up in finally")

In [ ]:
Raising the Exception
Exception caught...
performing clean up in finally

In [ ]:
c = int(input("Enter temperature in celsius : "))
f = (c*9/5)+32
assert(f<=32), "ITs Cold"
print("Fahrenheit : ",f)

In [ ]:
Enter temperature in celsius : 37
Traceback (most recent call last):
  File "e:\Eighty\raise.py", line 3, in <module>
    assert(f<=32), "ITs Cold"
           ^^^^^
AssertionError: ITs Cold

In [ ]:
Write a program which infinitely prints natural numbers. Raise a StopIteration exception after displaying first 20 numbers to except the program

In [5]:
def display(n):
    while True:
        try:
            n+=1
            if n==21:
                raise StopIteration
        except StopIteration:
            break
        else:
            print(n, end=" ")

i = 0
display(i)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [7]:
import random

class RandomError(Exception):
    pass
try:
    num = random.random()
    if num<0.1:
        raise RandomError
except RandomError as e:
    print("RandomError generated")
else:
    print("%.4f"%num)

RandomError generated

In [ ]:
0.6257

In [ ]:
import calendar

year = int(input("Enter a year number : "))
print(calendar.calendar(year))

In [ ]:
Enter a year number : 2004
                                  2004

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1       1  2  3  4  5  6  7
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       8  9 10 11 12 13 14
12 13 14 15 16 17 18       9 10 11 12 13 14 15      15 16 17 18 19 20 21
19 20 21 22 23 24 25      16 17 18 19 20 21 22      22 23 24 25 26 27 28
26 27 28 29 30 31         23 24 25 26 27 28 29      29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                      1  2          1  2  3  4  5  6
 5  6  7  8  9 10 11       3  4  5  6  7  8  9       7  8  9 10 11 12 13
12 13 14 15 16 17 18      10 11 12 13 14 15 16      14 15 16 17 18 19 20
19 20 21 22 23 24 25      17 18 19 20 21 22 23      21 22 23 24 25 26 27
26 27 28 29 30            24 25 26 27 28 29 30      28 29 30
                          31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1             1  2  3  4  5
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       6  7  8  9 10 11 12
12 13 14 15 16 17 18       9 10 11 12 13 14 15      13 14 15 16 17 18 19
19 20 21 22 23 24 25      16 17 18 19 20 21 22      20 21 22 23 24 25 26
26 27 28 29 30 31         23 24 25 26 27 28 29      27 28 29 30
                          30 31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7             1  2  3  4  5
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       6  7  8  9 10 11 12
11 12 13 14 15 16 17      15 16 17 18 19 20 21      13 14 15 16 17 18 19
18 19 20 21 22 23 24      22 23 24 25 26 27 28      20 21 22 23 24 25 26
25 26 27 28 29 30 31      29 30                     27 28 29 30 31

In [ ]:
from calendar import *

year = int(input("Enter a year number : "))
month_ = int(input("Enter a month number : "))
str = month(year, month_)
print(str)

In [ ]:
Enter a year number : 2004
Enter a month number : 12
   December 2004
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [9]:
from calendar import *

year = int(input("Enter a year number : "))
if isleap(year):
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year number :  2040

2040 is a leap year

In [ ]:
Write a program to print the next 10 day dates continuously

In [11]:
from datetime import *
d = date.today()
print(d)
d = date(2112, 6, 29)
for x in range(1,10):
    nextdate = d+timedelta(days=x)
    print(nextdate)

2025-07-04
2112-06-30
2112-07-01
2112-07-02
2112-07-03
2112-07-04
2112-07-05
2112-07-06
2112-07-07
2112-07-08

In [13]:
from datetime import *
d = date.today()
print(d)
for x in range(1,10):
    nextdate = d+timedelta(days=x)
    print(nextdate)

2025-07-04
2025-07-05
2025-07-06
2025-07-07
2025-07-08
2025-07-09
2025-07-10
2025-07-11
2025-07-12
2025-07-13

In [20]:
import time
epoch = time.time()
print(epoch)

1751610786.9296727

In [ ]:
command line arguments

In [ ]:
import sys

if len(sys.argv)<2:
    print("Usage : python hi.py <name>")
else:
    name = sys.argv[1]
    print(f"Student, {name}!")

In [ ]:
Usage : python hi.py <name>
PS E:\Eighty> python raise.py Bhagath
Student, Bhagath!